In [2]:
import numpy as np
import pandas as pd

In [3]:
#set the random seed for reproducibility
np.random.seed(123)

#Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [5]:
n_class_0

900

In [7]:
n_class_0, n_class_1

(900, 100)

In [8]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2,scale =1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

In [15]:
df= pd.concat([class_0, class_1]).reset_index(drop=True)

In [16]:
df.head()

   feature_1  feature_2  target
0   0.914369   0.551302       0
1   2.997345   0.419589       0
2   2.282978   1.815652       0
3   0.493705  -0.252750       0
4   1.421400  -0.292004       0

In [18]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [20]:
df_minority = df[df['target']==1]
df_majority= df[df['target']==1]

In [22]:
df_majority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [23]:
##Upsampling perform
from sklearn.utils import resample

In [24]:
df_minority_upsample=resample(df_minority,
                              replace=True, ##sample with replacement 
                              n_samples=len(df_majority), #to match match the majority class
                              random_state=42
                             )

In [29]:
df_minority_upsample.shape

(100, 3)

In [31]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [34]:
df_minority_upsample.shape

(100, 3)

In [36]:
df_upsampled=pd.concat([df_majority,df_minority_upsample])

In [37]:
df_upsampled['target'].value_counts()

1    200
Name: target, dtype: int64

In [38]:
df_upsampled.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [39]:
df_upsampled.shape

(200, 3)

In [40]:
##Down sampling

In [41]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2,scale =1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

In [42]:
df= pd.concat([class_0, class_1]).reset_index(drop=True)

In [44]:
df_minority = df[df['target']==1]
df_majority= df[df['target']==0]

In [45]:
df_minority_upsample=resample(df_minority,
                              replace=False, ##sample with replacement 
                              n_samples=len(df_majority), #to match match the majority class
                              random_state=42
                             )

ValueError: Cannot sample 900 out of arrays with dim 100 when replace is False

In [46]:
df_maority_downsample.shape

NameError: name 'df_maority_downsample' is not defined

In [ ]:
pd.concat([df_minority, df_majority_downsampling