In [2]:
"Q1. What is a database? Differentiate between SQL and NoSQL databases."

'Q1. What is a database? Differentiate between SQL and NoSQL databases.'

In [5]:
#A database is structeured or organised collection of information stored electronically in a computer system.
#SQL - is structured query language is a language that uses to acces and manipulation  relational database.
#Nosql -  not only sql are non-tabular databases and store data differently than relational tables."

#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
''' DDL is data defination langauge that is used to define data available in database 

Create is used to create table in database ex :- create table name( 
 id - int
 name - varchar(10)
 age - int
 gender - varchar(10));
 
 Drop is used ton drop table currently using 
 ex - drop table name ;
 
 ALTER - aletr is used to modify, drop and add database
 ex- alter table 
     modify column name;
     
     
 Truncate - is used to delete column from scheme      
 ex- truncate table shipper '''

' DDL is data defination langauge that is used to define data available in database \n\nCreate is used to create table in database ex :- create table name( \n id - int\n name - varchar(10)\n age - int\n gender - varchar(10));\n \n Drop is used ton drop table currently using \n ex - drop table name ;\n \n ALTER - aletr is used to modify, drop and add database\n ex- alter table \n     modify column name;\n     \n     \n Truncate - is used to delete column from scheme      \n ex- truncate table shipper '

In [5]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [7]:
'''DML is data manipulation language that is used is manipulate data available in database 

INSERT -- is query that used to insert new records in table
ex- INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)
VALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');

UPDATE - is query that used to update table 
ex - UPDATE Customers
     SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'
     WHERE CustomerID = 1;
        
DELETE -- is used to delete record from database 
ex - DELETE FROM table_name WHERE condition; '''

"DML is data manipulation language that is used is manipulate data available in database \n\nINSERT -- is query that used to insert new records in table\nex- INSERT INTO Customers (CustomerName, ContactName, Address, City, PostalCode, Country)\nVALUES ('Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');\n\nUPDATE - is query that used to update table \nex - UPDATE Customers\n     SET ContactName = 'Alfred Schmidt', City= 'Frankfurt'\n     WHERE CustomerID = 1;\n        \nDELETE -- is used to delete record from database \nex - DELETE FROM table_name WHERE condition; "

#Q4. What is DQL? Explain SELECT with an example.

In [9]:
'''DQL is data query language that is used to query from database
 Ex - select statement for database 
    select * from table name ;
    slect name , date, age from table name ; '''

'DQL is data query language that is used to query from database\n Ex - select statement for database \n    select * from table name ;\n    slect name , date, age from table name ; '

#Q5. Explain Primary Key and Foreign Key.

In [10]:
'''primary key - is a unique value that is used as identifier;
foreign key - is used to link one table from another table ;'''

'primary key - is a unique value that is used as identifier;\nforeign key - is used to link one table from another table ;'

#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [11]:
'''import mysql.connector 
mydb= connect.mysql.connector.connect(
    host =
    user =
    password =
)

print(mydb)'''

'import mysql.connector \nmydb= connect.mysql.connector.connect(\n    host =\n    user =\n    password =\n)\n\nprint(mydb)'

#Q7. Give the order of execution of SQL clauses in an SQL query.

In [13]:
'''1) from 
2) where 
3) group by 
4) having
5) select  '''

'1) from \n2) where \n3) group by \n4) having\n5) select  '